* {
    list-style: none;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(118, 202, 176);
    background-blend-mode: soft-light;
    color: rgb(32, 117, 167);
    margin: 0 auto;
    padding: 10px 15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.header {
    margin: 10% 25%;
    background: oldlace;
    padding: 1.5rem 0;
    border-radius: 5px;
    box-shadow: 2px 2px 15px 2px;
    text-align: center;
    color: rgb(1, 10, 49);
}

h1, h2, h3 {
    overflow: hidden;
    text-decoration: dotted;
    line-height: normal;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.1em;
}

.pages {
    display: flex;
    flex: 3;
    align-items: center;
    min-height: 100%;
    padding: 1rem 1.5rem;
    min-width: 0;
    max-width: 1000px;
    margin: auto;
}

.pages::before, .pages::after {
    box-sizing: inherit;
}

.pages::before, .body::before {
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0 10px rgba(0,0,0,0,8);
    z-index: 100;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border-style: inset;
    border: 1px solid;
    resize: none;
}

.contact {
    font-weight: bold;
    align-content: center;
    position: relative;
    padding: 25px 50px;
    background: oldlace;
    box-shadow: 1px 1px 10px 1px;
}

form > p {
    padding: 10px 15px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.form-submit {
    display: flex;
    justify-content: center;
}

.interests {
    position: relative;
}

li {
    padding: 20px 10px;
}

li > a {
    margin-left: 35%;
}

img {
    max-width: 100%;
    height: auto;
    float: none;
    object-fit: contain;
}

.button, a {
    background-color: rgb(14, 61, 136);
    color: oldlace;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 100px;
    padding: 15px 18px;
    text-decoration: none;
}

a:hover {
    background-color: oldlace;
    color: rgb(5, 26, 59);
}

.button:hover {
    background-color: rgb(118, 202, 176);
    color: rgb(5,26,59);
}

input[type=text] {
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border-style: inset;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
}

.page-header {
    display: flex;
    justify-content: space-around;
    height: 10%;
    width: 100%;
    border-bottom: 2px solid oldlace;
}

.page-header > a {
    border-radius: 0;
    padding: 5px 0px;
    text-align: center;
}

.page-header > h1 {
    border: transparent black;
    padding: 10px 5px;
    background-color: oldlace;
    box-shadow: 2px 2px 0px 2px;
    border-radius: 5px;
    margin-right: 0;
}

.bio-text {
    margin: 20px 10px;
    padding: 25px 15px;
    text-align: justify;
    text-orientation: upright;
    text-indent: 5%;
    font-weight: 600;
    line-height: 0.6cm;
    background-color: oldlace;
}
